<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new house</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous">
</head>
<body>
<form th:method="POST" th:action="@{/course/{companyId}/update/{courseId} (companyId=${companyId},courseId=${courseId})}" th:object="${findCourse}" >
    <!--    <div class="container">-->
    <!--        <hr>-->
    <!--        <input type="hidden" name="id" th:field="*{company.id}">-->
    <!--    </div>-->
    <div>
        <label for="image"><b>Course Name</b></label>
        <input type="text" placeholder="Enter course name" th:field="*{courseName}" name="name" id="image" required>
    </div>
    <div>
        <label for="psw"><b>Course description</b></label>
        <input type="text" placeholder="Enter description" th:field="*{description}" name="psw" id="psw" required>
    </div>
    <div>
        <label for="foundationYear"><b>Course founding date:</b></label>
        <input type="date" th:field="*{dateOfStart}" id="foundationYear" required>
    </div>
    <p>
        <button class="btn btn-danger" type="submit">Update Course</button>
    </p>
</form>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</html>
